.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  font-size: 3rem;
}

.fa-star {
  cursor: pointer;
}

.fa-star:hover {
  color: yellow
}

.mouseover {
  color: yellow;
}

.active {
  color: yellow;
}